<div class="p-4 p-md-5 mb-4 text-white list-banner">
  <div class="col-md-6 px-0">
    <h1 class="display-2">Movie Time</h1>
    <p class="display-4 lead my-3">Grab a Popcorn</p>
  </div>
</div>

<div class="container w-80 d-flex py-3 justify-content-between">
  <h3>My Lists</h3>
  <%= link_to 'Create a movie list', new_list_path, class: "btn btn-primary" %>

</div>

<div class="container w-80 d-flex justify-content-center">
  <%@lists.each do |list| %>
    <div class="list-card">
      <%= cl_image_tag(list.photos.first.key, width: 400, height: 300, crop: :fill) %>
      <%= link_to list.name, list_path(id: list.id) %>
    </div>
  <% end %>
</div>
